.customers-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.section-customers__title {
    margin-bottom: 30px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.customers-list__item {
    transition: fill var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
    flex-basis: calc((100% - 30px) / 2);
}

.customers-list__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;

    .customers-list__link:hover &,
    .customers-list__link:focus &{
         fill: var(--accent-color);
         border-color: var(--accent-color);
        }

}

.customers-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background: var(--fond-color);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
        }
}

@media screen and (min-width: 768px) {
    .customers-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .customers-list__item {
        flex-basis: calc((100% - 60px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .customers-section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .customers-list {
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }

    .customers-list__item{
        flex-basis: auto;
    }

    .section-customers__title {
        margin-bottom: 50px;
    }
}