.header__logo--wrap {
    color: var(--header-logo-color);
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__navigation .logo {
    padding-top: 24px;
    padding-bottom: 25px;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .site-nav__item + .site-nav__item {
    margin-left: 50px;
}

.site-nav__link {
    display: block;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

.current.second::after {
    width: 100%;
}

.current {
    color: var(--accent-color);
    &::after {
            content: '';
            display: block;
            position: relative;
            top: 33px;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
}

/* ===============Контакти в Хедері============ */
.contacts-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-and-func);
}
.contact-nav__item {
    margin-left: 50px;
}

.contact-nav__link {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;

    transition: fill var(--transition-dur-and-func);

    .contacts-nav &:hover,
    .contacts-nav &:focus {
        color: var(--accent-color);
        }
    
    &:hover .contact-nav__icon {
        fill: var(--accent-color);
        }
}

.contact-nav__icon {
    align-self: center;
    margin-right: 10px;
    fill: var(--primary-text-color);
}