body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--fond-color);
    position: relative;
    margin: 0;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* ==================Кнопки===================== */
.button {
    border-radius: 4px;

    color: var(--title-text-color);
    background-color: var(--buttons-fond-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-color: transparent;
    border: none;

    &:hover,
    &:focus {
        color: var(--fond-color);
        background-color: var(--accent-color);
        }
}
